body{
  background-color: grey;
}
header{
  background-color: rgb(43, 35, 25);
  font-family: 'Times New Roman', Times, serif;
}

header h1{
  color: beige;
}

header p{
  font-size: 16px;
  color: beige;
  font-weight: bold;
}

.image{
  max-width: 500px;
  max-height: 500px;
}

.image img{
  width: 100%;
  height: auto;
}

p{
  font-size: 18px;
  color: beige;
}

footer{
  background-color: rgb(43, 35, 25);
  font-family: 'Times New Roman', Times, serif;
  
}

footer p{
  color: beige;
  font-weight: bold;
  font-size: 1.5em;
}

footer a{
  color: beige;
  display: inline-block;
}

footer a:hover{
  color: gold;
}